name: core-env CI
permissions:
  contents: read
on:
  push:
    branches: [main]
    paths:
      - "packages/core-env/**"
      - ".github/workflows/core-env.yml"
      - ".github/workflows/module.yml"

jobs:
  module-flow:
    uses: ./.github/workflows/module.yml
    secrets: inherit
    with:
      package-path: packages/core-env
